{% extends "layouts.html" %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Data Info</h1>
  <p class="mb-4">DataTables <a target="_blank" href="https://datatables.net">Data is important.</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">게시판 <a href="create_list" class="btn btn-success btn-sm text-end"> 작성</a></h6>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Time</th>
              <th>Edit</th>
              <th>Del</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Time</th>
              <th>Edit</th>
              <th>Del</th>
            </tr>
          </tfoot>
          <tbody>
            {% for i in data %}
            <tr>
              <td>{{ i[0] }}</td>
              <td>{{ i[1] }}</td>
              <td id="txt">{{ i[2] }}</td>
              <td>{{ i[3] }}</td>
              <td>{{ i[4] }}</td>
              <td>
                <a href="/edit/{{ i[0] }}"><button class="btn btn-primary">편집</button></a>
              </td>
              <td>
                <a href="/delete/{{ i[0] }}"><button class="btn btn-danger"
                    onclick="return confirm_func()">삭제</button></a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>



<script>
  function confirm_func() {
    result = confirm('정말 삭제 하시겠습니까?')
    console.log(result)
    return result
  }
</script>

{% endblock %}